body{
    background-color: black;
}
.container{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
    justify-content: space-around;
    border: 1px solid white;
}

  
.tooltip{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 200px;
    height: 200PX;
    background-color: red;
    border-radius: 50%;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 200px solid yellow; /* Change 'red' to any color you want */
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

 .tooltip .tooltiptext, .triangle .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px ;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-top: -40px;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
    opacity: 0;
}
 .triangle .tooltiptext{
    background-color: yellow;
    margin-top: -55PX;
    color: black;
}
.tooltip:hover .tooltiptext, .triangle:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}
.tooltip .tooltiptext::before, .triangle .tooltiptext::before {
    content: '';
    position: absolute;
    top: 100%; 
    left: 50%;
    border: solid transparent;
    border-width: 5px;
    border-top-color: red;
    transform: translateX(-50%); 
  }
   .triangle .tooltiptext::before {
    border-top-color:yellow;
  }
  @media screen and (max-width:600px) {
    .tooltip{
        width: 100px;
        height: 100px;
    }
      .triangle{
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 100px solid yellow;
    }
  }


